{
    "plugins": ["node"],
    "extends": ["eslint:recommended", "plugin:node/recommended"],
    "rules": {
        "node/exports-style": ["error", "module.exports"],
        "semi": ["error", "never"],
        "max-params": ["error", 4],
        "no-console": 1,
        "quotes": ["error", "single"],
        "newline-after-var": ["error", "always"]
    }
}
